#Landing {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: url('images/city.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
#Landing::before {
  background-color: #000;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  opacity: 0.7;
}

#title {
  position: absolute;
  top: 40%;
  left: 50%;
  width: fit-content;
  font-family: 'Permanent Marker';
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.5) 0px 10px 5px;
  transform: translate(-50%, -50%);
  letter-spacing: 0.7px;
}

#title .large {
  font-size: 100px;
}
#title .small {
  font-size: 50px;
}

/* Chains */
.chain {
  position: absolute;
}
.chain.top {
  top: 0;
}
.chain.bottom {
  bottom: 0;
}
.chain.left {
  left: -200px;
}
.chain.right {
  right: -200px;
}
.chain.top.left,
.chain.bottom.right {
  transform: rotate(-45deg);
}
.chain.top.right,
.chain.bottom.left {
  transform: rotate(45deg);
}

/* Scroll Button */
#Landing .move_btn {
  display: block;
  position: relative;
  top: 50px;
  width: fit-content;
  font-size: 3em;
  color: #2f4f4f;
  background-color: #fff;
  margin: auto;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 5px;
  text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
  cursor: pointer;
}
#Landing .move_btn::before {
  font-weight: 700;
}
#Landing .move_btn:hover,
#Landing .move_btn:focus {
  background-color: #ddd;
  transform: translateY(2px);
}
